body {
    display: grid;
    gap: 10px;
    width: 1200px;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-logo-container {
    background-color: rgb(245,245,245);
    display: flex;
    justify-content: center;
}

.header-logo-container img {
    width: 400px;
}

.nav-bar {
    background-color: rgb(245,245,245);
}

.nav-bar nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-header-image {
    display: flex;
    justify-content: center;
    background-color: rgb(245,245,245); 
}

.page-content {
    display: flex;
    gap: 10px;
    justify-content: end;
}


.right-contact-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    background-color: rgb(245,245,245); 
}

.contact-us-tab form{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.social-icons-tab {
    display: flex;
    justify-content: space-between;
}

.social-icons-tab img {
    width: 25px;
}

.left-content-column {
    background-color: rgb(245,245,245);
    flex-grow: 1;
    padding: 25px;
}

footer {
    background-color: rgb(245,245,245);
    padding: 10px;
}

footer p {
    text-align: center;
}

/*===============
HOME PAGE STYLING
================*/

#home-page-conent {
    display: flex;
    gap: 25px;

}

#home-page-conent img{
    padding: auto;
    width: 300px;
    
}

/*===============
TEAM PAGE STYLING
================*/

#team-members {
    display: flex;
    gap: 25px;

}

#team-members img{
    padding: auto;
    width: 300px;
    
}